/*-- fonts --*/
/*  
@font-face {
	font-family: NadiaSerifNormal;
	src: url('fonts/nadia_serif-webfont.eot');
	src: local('?'), url('fonts/nadia_serif-webfont.woff') format('woff'), url('fonts/nadia_serif-webfont.ttf') format('truetype'), url('fonts/nadia_serif-webfont.svg#webfontIQs8hLrS') format('svg');
	font-weight: normal;
	font-style: normal;
}  

 * copyrightedVendor:      Latinotype
 * License URL: http://www.fontspring.com/fflicense/latinotype
 */
@font-face {
    font-family: 'SanchezRegular';
    src: url('Sanchezregular-webfont.eot');
    src: url('Sanchezregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Sanchezregular-webfont.woff') format('woff'),
         url('Sanchezregular-webfont.ttf') format('truetype'),
         url('Sanchezregular-webfont.svg#SanchezRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SanchezItalic';
    src: url('fonts/Sanchezregular-ita-webfont.eot');
    src: url('fonts/Sanchezregular-ita-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sanchezregular-ita-webfont.woff') format('woff'),
         url('fonts/Sanchezregular-ita-webfont.ttf') format('truetype'),
         url('fonts/Sanchezregular-ita-webfont.svg#SanchezItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*-- resets and defaults --*/
body { overflow-x: hidden; }
:focus { outline: none; }
/*-- page areas --*/
#navigation { position: absolute;/*fixed*/ top: 0; width: 100%; font-size: 20px; padding: 20px 30px; 
background-color: #666; 
background: url("images/brushed_alu.png") repeat scroll 0 0 transparent; 
color: #666;  /*  #eee;  */ 
border-top:2px #ddd solid;
-webkit-box-shadow: 0 5px 10px #bbb; 
-moz-box-shadow: 0 5px 10px #bbb; 
box-shadow: 0 5px 10px #bbb; 
margin: 0 -10px; text-align: left; z-index: 5; 
font-family: SanchezRegular;
}
#navigation b { font-weight: normal; font-size: 28px; margin-right: 200px; text-shadow: 0 2px 5px #333; filter: dropshadow(color=#333333, offx=0, offy=2);  }
#navigation a { color: #666; margin-right: 50px; }
#navigation a:hover { color: #ccc; text-decoration: none; }
#navigation a.current { color: #fff; text-shadow: 0 0 10px #ccc; }
/*-- resets and defaults --*/
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, code, img, fieldset, form, label, legend,
table, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: none; outline: none; font-size: 100%; vertical-align: baseline; background: transparent; }
body { 	 background: url("images/bg.gif") repeat-x scroll left top #848484; color: #333; line-height: 1; 
font-family: Tahoma, Arial, sans-serif; /*  NadiaSerifNormal, */}
a { color: #9CF; text-decoration: none; outline: none; }
a:hover { color: #9CC; text-decoration: none; cursor: pointer; }
.mail{  float:right; padding-top: 3px;}
span.design {float:right; margin: 6px 50px 0 0; font-size:11px; }
.design a, a:hover { color: #666; text-decoration: none; outline: none; }
.twitter  {  }
.github  { padding-right:8px; }
.linkedin span {
background: url("images/icon-sprite.png") no-repeat scroll 0 0 transparent; padding:0 0 0 18px;   }
.twitter span{
background: url("images/icon-sprite.png") no-repeat scroll -44px 0 transparent; padding:0 0 0 18px;   }
h1 { font-size: 30px; margin-top: 50px; }
li { margin-top: 10px; }
/*-- page areas --*/ 
.vspace { position:relative; width:10px; height:600px; }
#content {  position: absolute; left: 50%; top: 60px; margin-left: -400px; width: 800px; height: 600px; overflow: hidden;  }
#footer {    /* position: fixed; bottom: 0;  */
 	position: relative;  
 	z-index:5;
	width: 100%; padding: 20px 30px; 
	background-color: #666; 
	color: #eee; 
	background: url("images/brushed_alu.png") repeat scroll 0 0 transparent;
	color: #666;  /*  #eee;  */ 
	border-bottom:2px #ddd solid;
-webkit-box-shadow: 0 -5px 10px #bbb; 
-moz-box-shadow: 0 -5px 10px #bbb; 
box-shadow: 0 -5px 10px #bbb;
 	margin: 0 -10px;
  	/* text-align: center;  */
 }
#footer a { margin: 0 15px; }
#copyright { font-size: 10px; margin: 20px 50px 0 0; text-align:right;  }
#copyright a { margin: 0;}

/*-- main page --*/
#intro {   }
#cartoon { background: transparent url(images/gilStart.png) center top no-repeat; width: 800px; height: 550px; }
#intro p { font-size: 18px; line-height: 22px; margin: 25px 0 0; text-align: left; position: relative; }
#intro p a { color: #699; }
#intro .next { position: absolute; top: 200px; right: 150px; width: 70px; height: 50px; background: transparent url(images/arrow.png) center center no-repeat; text-indent: -9999px; z-index: 3; }
#intro .next:hover { background: transparent url(images/arrow-h.png) center center no-repeat; }
img.cartoon { position: absolute; left: 177px; top: 0; }
#intro .page { position: absolute; left: 800px; top: 0; width: 800px; z-index: 2; }
#intro .current { left: 0; }
.settle { position: absolute; top: 200px; left: 50%; width: 300px; margin-left: -150px; border: 10px solid #9cf; border-radius: 10px; background-color: #f6f6f6; padding: 10px; z-index: 10; text-align: center; }
.settle h2 { font-size: 30px; font-family: Helvetica, Arial, sans-serif; text-transform: uppercase; color: #9cf; }

